<!--页面公共头部-->
<%- include('./_block/header.ejs',{ title:'首页' }) %>
<!--页面逻辑html-->
<div id="app">
    <div class="container"></div>
    <banner></banner>
</div>
<!--页面组件-->
<%- include('./component/nav.ejs') %>
<!--页面公共底部-->
<%- include('./_block/footer.ejs') %>
<!--页面逻辑js-->
<script>
require(['jquery','vue','util','jqweui'],function ($,Vue,util) {
    //注册组件
    var banner = Vue.extend({
        template: '#banner',
        data:function () {
            return {
                title:'heheda'
            }
        }
    });
    //实例化一个vue
    new Vue({
        el: '#app',
        components:{
            'banner':banner
        }
    });
});
</script>