blockquote, body, dd, dl, figure, form, h1, h2, h3, h4, h5, h6, ol, p, ul {
  margin: 0; }

ol, ul {
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  outline: 0; }

a[href]:active, button:active {
  background-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)); }

body.iphone a[href]:active, body.iphone button:active {
  background-image: none; }

em {
  font-style: normal; }

h1, h2, h3, h4, h5, h6, input, select, textarea {
  font-size: 100%; }

input, select, textarea {
  font-family: inherit;
  box-sizing: border-box; }

img {
  display: inline-block; }

p {
  word-break: break-all; }

html {
  font-size: 16px; }

@media screen and (min-width: 375px) {
  html {
    font-size: calc(100% + 2 * (100vw - 375px)/ 39);
    font-size: calc(16px + 2 * (100vw - 375px)/ 39); } }

@media screen and (min-width: 414px) {
  html {
    font-size: calc(112.5% + 4 * (100vw - 414px)/ 586);
    font-size: calc(18px + 4 * (100vw - 414px)/ 586); } }

@media screen and (min-width: 600px) {
  html {
    font-size: calc(125% + 4 * (100vw - 600px)/ 400);
    font-size: calc(20px + 4 * (100vw - 600px)/ 400); } }

@media screen and (min-width: 1000px) {
  html {
    font-size: calc(137.5% + 6 * (100vw - 1000px)/ 1000);
    font-size: calc(22px + 6 * (100vw - 1000px)/ 1000); } }

body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-user-select: none;
  fill: currentColor;
  -webkit-tap-highlight-color: transparent; }

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
